[submodule "catkin_ws/src/graph_rviz_plugin"]
	path = catkin_ws/src/graph_rviz_plugin
	url = https://gitlab.com/InstitutMaupertuis/graph_rviz_plugin.git
[submodule "catkin_ws/src/estimation/include/eigen"]
	path = catkin_ws/src/estimation/include/eigen
	url = https://gitlab.com/libeigen/eigen.git
